<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Our Crews</h3>

        <svg class="icon icon--primary collapsible__arrow">
          <use xlink:href="/Project/images/spriteB.svg#arrow"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Best</a></li>
          <li class="list__item"><a href="#">Popular</a></li>
          <li class="list__item"><a href="#">Highest Paying</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Terms</h3>

        <svg class="icon icon--primary collapsible__arrow">
          <use xlink:href="/Project/images/spriteB.svg#arrow"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Wages</a></li>
          <li class="list__item"><a href="#">Booty</a></li>
          <li class="list__item"><a href="#">Extras</a></li>
        </ul>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">About Us</h3>

        <svg class="icon icon--primary collapsible__arrow">
          <use xlink:href="/Project/images/spriteB.svg#arrow"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item"><a href="#">Address</a></li>
          <li class="list__item"><a href="#">Legal</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand ">
      <img src="Project/images/pirateLogo.png" alt="" />
      <p class="footer__copyright">Copyright 2022 Ben Wingrove</p>
    </section>
  </div>
</footer>
