<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2 class="block__heading">All around the world!</h2>
  </header>
  <div class="container grid grid--cols-2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="/Project/images/world.webp 1x, /Project/images/world@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/Project/images/world.png 1x, /Project/images/world@2x.png 2x"
      />

      <img src="/Project/images/world.webp" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <img src="Project/images/pirateLogo.png" class="icon icon--small" />
          </div>
          <div class="media__body">
            <h3 class="media__title">3 Step program</h3>
            <p>
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Non, ullam.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <img src="Project/images/pirateLogo.png" class="icon icon--small" />
          </div>
          <div class="media__body">
            <h3 class="media__title">3 Step program</h3>
            <p>
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Non, ullam.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <img src="Project/images/pirateLogo.png" class="icon icon--small" />
          </div>
          <div class="media__body">
            <h3 class="media__title">3 Step program</h3>
            <p>
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Non, ullam.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
