
    <section class="block container block-domain">
      <header class="block__header">
        <h2>What crew do you like the look of?</h2>
        <p>Lorem ipsum dolor sit amet. Look at these options</p>
          <div class="input-group">
        <input type="text" class="input" placeholder="See who's hiring..." />
        <button class="btn btn--accent">
          <img src="Project/images/pirateLogo.png" class="icon .icon--white" />
          Search
        </button>
      </header>
  
      </div>
      <ul class="list block-domain__prices">
        <li class="badge badge--secondary">Blackbeard</li>
        <li>Redbeard</li>
        <li>Bluebeard</li>
        <li>Whitebeard</li>
        <li>Sockface</li>
        <li>Peggy</li>
      </ul>
    </section>

    