<span class="icon-container">
  <svg class="icon">
    <use xlink:href="./Project/images/spriteA.svg#zero"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon .icon--primary">
    <use xlink:href="./Project/images/spriteA.svg#three"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon .icon--secondary">
    <use xlink:href="./Project/images/spriteA.svg#ten"></use>
  </svg>
</span>

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="/Project/images/spriteB.svg#arrow"></use>
  </svg>
</span>
