<input type="text" class="input" placeholder="Type your search term" />

<div class="input-group">
  <input type="text" class="input" placeholder="Type your search term" />
  <button class="btn btn--accent">Search</button>
</div>

<div class="input-group">
  <button class="btn btn--accent">Search</button>
  <input type="text" class="input" placeholder="Type your search term" />
</div>

<div class="input-group">
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="./Project/images/spriteA.svg#zero"></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Type your search term" />
</div>

<div class="input-group">
  <input type="text" class="input" placeholder="Type your search term" />
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="./Project/images/spriteA.svg#zero"></use>
    </svg>
  </span>
</div>

<div class="input-group input--shadow">
  <input type="text" class="input" placeholder="Type your search term" />
  <button class="btn btn--accent">Search</button>
</div>

<div class="input-group input--shadow">
  <button class="btn btn--accent">Search</button>
  <input type="text" class="input" placeholder="Type your search term" />
</div>

<div class="input-group input--shadow">
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="./Project/images/spriteA.svg#zero"></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Type your search term" />
</div>

<div class="input-group input--shadow">
  <input type="text" class="input" placeholder="Type your search term" />
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="./Project/images/spriteA.svg#zero"></use>
    </svg>
  </span>
</div>
