<section class="block container block-plans">
  <div class="grid grid--cols-3">
    <div>
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">£10</span>
            <span class="plan__billing-cycle">/ Hour</span>
            <span class="badge badge--secondary badge--small">Urgent!</span>
            <span class="plan__description">Gotta begin somewhere!</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">No experience required!</li>
              <li class="list__item">Free parking</li>
              <li class="list__item">Free fruit</li>
              <li class="list__item">Casual Fridays!</li>
            </ul>
            <a href="#" class="btn btn--outline btn--block">Apply Here</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="plan">
        <div class="card card--primary plan--popular">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">£10</span>
            <span class="plan__billing-cycle">/ Hour</span>
            <span class="badge badge--primary badge--small">Urgent!</span>
            <span class="plan__description">Gotta begin somewhere!</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">No experience required!</li>
              <li class="list__item">Free parking</li>
              <li class="list__item">Free fruit</li>
              <li class="list__item">Casual Fridays!</li>
            </ul>
            <a href="#" class="btn btn--outline btn--block">Apply Here</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">£10</span>
            <span class="plan__billing-cycle">/ Hour</span>
            <span class="badge badge--secondary badge--small">Urgent!</span>
            <span class="plan__description">Gotta begin somewhere!</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">No experience required!</li>
              <li class="list__item">Free parking</li>
              <li class="list__item">Free fruit</li>
              <li class="list__item">Casual Fridays!</li>
            </ul>
            <a href="#" class="btn btn--outline btn--block">Apply Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
